.navigation {
    position: fixed;
    width: 100%;
    height: calc(100vh - #{$footer-height});
    max-height: calc(100vh - #{$footer-height});
    top: 0;
    left: 0;
    z-index: 1000;
    @include remove_user_select();

    &__checkbox {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    &__header {
        background-color: black;
        position: relative;
        height: 4.5rem;
        width: inherit;
        top: 0;
        left: 0;
    }

    &__footer {
        background-color: black;
        position: absolute;
        width: inherit;
        bottom: 0;
        left: 0;
        color: white;
    }

    &__button {
        height: 3em;
        width: 3rem;
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba(black, .1);
        text-align: center;
        transition: all .2s;
        cursor: pointer;
    }

    &__button:focus {
        outline: none;
    }

    &__button:hover+&__header>&__icon::before {
        top: -1rem;
    }

    &__button:hover+&__header>&__icon::after {
        top: 1rem;
    }

    &__checkbox:checked+&__header>&__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked+&__header>&__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked+&__header>&__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }

    &__main-link {
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 2.5rem;
    }

    &__logo {
        height: inherit;
    }
  
  &__container {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        visibility: hidden;
        opacity: 0;
        transition: all .2s;
        background-color: #000;
        height: calc(100% - 4.5rem);
        max-height: calc(100% - 4.5rem);
        overflow-y: scroll;
    }
  
  .creator {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: .65rem;
    // font-family: 'Sacramento', cursive !important;
    // font-smooth: always;
    // -webkit-font-smoothing: subpixel-antialiased;
    
    @include respond(phone) {
        position: fixed;
        bottom: $footer-height;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
    };

    @include letter-spacing(.4rem);

        &__link:link, &__link:visited {
        text-decoration: none;
        color: white;
        transition: all .2s;

            
        
            &:hover {
                color: #f72092;
            }
        }
    }

    &__nav {
        display: flex;
        text-align: center;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        flex: 1;
        overflow: scroll;
        padding: 1rem 0;
        backface-visibility: hidden;

        @media screen and (max-width: 500px) {
            justify-content: flex-start;
        }
    }

    &__link {
        padding: 1.5rem;
        text-transform: uppercase;
        transition: all .3s;
        list-style: none !important;

        @include letter-spacing(.5rem);
        @include reset-link(white);

        &:hover {
            @media screen and (min-width: 900px) {
                background-color: white;
                color: black;
            }
        }
    }

    &__icon {
        position: absolute;
        top: 1.4rem;
        left: 0.25rem;
        pointer-events: none;
        transition: all .2s;

        &,
        &::before,
        &::after {
            width: 2.5rem;
            height: 4px;
            background-color: white;
            display: inline-block;
            transition: all .2s;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }

        &::before {
            top: -.9rem;
        }

        &::after {
            top: .85rem;
        }
    }

    &__checkbox:checked~&__container {
        visibility: visible;
        z-index: 2000;
        opacity: 1;
    }
}

.br {
    @include respond(tab-land) {
        display: block;
    };
}