.navigation {
    position: fixed;
    width: 100%;
    height: $navigation-height;
    top: 0;
    left: 0;
    padding-top: 4.5rem;
    z-index: 1000;
    background: black;

    &__checkbox {
        display: none;
    }

    &__header {
        position: absolute;
        height: 4.5rem;
        width: inherit;
        top: 0;
        left: 0;
    }

    &__button {
        height: 3em;
        width: 3rem;
        position: absolute;
        top: 1.15rem;
        right: 2rem;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba(black, .1);
        text-align: center;
        transition: all .2s;
        cursor: pointer;
    }

    &__button:focus {
        outline: none;
    }

    &__button:hover+&__header>&__icon::before {
        top: -1rem;
    }

    &__button:hover+&__header>&__icon::after {
        top: 1rem;
    }

    &__checkbox:checked+&__header>&__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked+&__header>&__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked+&__header>&__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }

    &__main-link {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 50%;
        transform: translate(-50%, 45%);
        height: 2.5rem;
    }

    &__logo {
        height: inherit;
    }

    &__nav {
        width: inherit;
        display: flex;
        text-align: center;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        position: absolute;
        visibility: hidden;
        height: 0;
        background-color: #000;
        opacity: 0;
        transition: all .2s;
        height: $fixed-content-size !important;
        max-height: $fixed-content-size !important;
        overflow-y: scroll;

        @media screen and (max-width: 500px) {
            justify-content: flex-start;
        }
    }

    &__link {
        display: list-item;
        padding: 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: .5rem;
        color: inherit;
        transition: all .3s;

        &:hover {
            @media screen and (min-width: 900px) {
                background-color: white;
                color: black;
            }
        }

        &:focus {
            color: inherit;
        }

        &:visited {
            color: inherit;
        }
    }

    &__icon {
        position: absolute;
        top: 1.4rem; // this stays
        left: .2rem;
        pointer-events: none;
        transition: all .2s;

        &,
        &::before,
        &::after {
            width: 2.5rem;
            height: 3px;
            background-color: white;
            display: inline-block;
            transition: all .2s;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }
    }

    &__checkbox:checked~&__nav {
        visibility: visible;
        display: flex;
        z-index: 2000;
        opacity: 1;
    }

    &__checkbox:checked:root {
        pointer-events: none;
    }
}