@keyframes onOff {
    0% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }

  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes showHide {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes changeName {
    25% {
      transform: translateX(-200%) translateY(-50%);
    }
    50% {
      opacity: 0;
    }
    75% {
      transform: translateX(120%) translateY(-50%);
      background-color: black;
  
    }
    100% {
      content: "ahora";
      transform: translateX(-50%) translateY(-50%);
      background-color: white;
      text-align: center;
      color: black;
    }
  }
  
  @keyframes reverseChangeName {
    
    0% {
      content: "ahora";
      transform: translateX(-50%) translateY(-50%);
      text-align: center;
      background-color: white;
      color: black;
    }
    
    25% {
          transform: translateX(200%) translateY(-50%);
    }
    
    50% {
      background-color: black;
      opacity: 0;
    }
    
    75% {
     transform: translateX(-140%) translateY(-50%);
    }
    
    100% {
      transform: translateX(-50%) translateY(-50%);
    }
  }