.u-no-pointer-events {
    pointer-events: none;
    user-select: none;
}

.u-blink {
    animation: showHide 5s infinite;
    pointer-events: none;
}

.u-blink-reverse {
    animation: showHide 6s 2.5s infinite;
    pointer-events: none;
    animation-fill-mode: backwards;
}

.u-fixed-content-size {
    height: $fixed-content-size !important;
    width: 100vw;
}

.u-fixed-content-size-plus-header {
    height: $fixed-content-size-plus-header !important;
    width: 100vw;
}

.u-content-margin {
    margin-top: $navigation-margin !important;
    margin-bottom: $footer-height !important;
}

.u-footer-margin {
    margin-bottom: $footer-height !important;
}

.u-remove-margin-left {
    margin-left: 0 !important;
}

.u-text-standout {
    font-family: "Monoton", "HelveticaNeue-Light", "Helvetica Neue", "Helvetica", "Lucida Grande", "Arial", sans-serif !important;
    font-weight: normal !important;
}

.u-row-height {
    height: inherit !important;
}

.u-top-margin-row {
    margin-top: $first-row-margin;
}

.u-preload {
    & *, & *::after, & *::before {
        -webkit-animation-duration: 0s !important;
        animation-duration: 0s !important;
        transition: all 0s;
    }
}

.u-margin-bottom-small {
    margin-bottom: 1rem !important;
}

.u-margin-bottom-normal {
    margin-bottom: 2rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 3rem !important;
}

.u-margin-bottom-big {
    margin-bottom: 4rem !important;
}

.u-margin-bottom-extra-big {
    margin-bottom: 5rem !important;
}

.u-margin-top-small {
    margin-top: 1rem !important;
}

.u-margin-top-normal {
    margin-top: 2rem !important;
}

.u-margin-top-medium {
    margin-top: 3rem !important;
}

.u-margin-top-big {
    margin-top: 4rem !important;
}

.u-margin-top-extra-big {
    margin-top: 5rem !important;
}

.u-padding-top-small {
    padding-top: 1rem !important;
}

.u-padding-top-normal {
    padding-top: 2rem !important;
}

.u-padding-top-medium {
    padding-top: 3rem !important;
}

.u-padding-top-big {
    padding-top: 4rem !important;
}

.u-padding-top-extra-big {
    padding-top: 5rem !important;
}

.u-no-margin {
    margin: 0 !important;
}

.u-disable-scroll {
    overflow: hidden !important;
}
