* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'sofiapro-light';
  src: url('../fonts/sofiapro-light-webfont.woff2') format('woff2'), url('../fonts/sofiapro-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes onOff {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes showHide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body {
  font-family: "sofiapro-light", "HelveticaNeue-Light", "Helvetica Neue", "Helvetica", "Lucida Grande", "Arial", sans-serif;
  color: white;
  font-size: 16px;
  background-color: #000;
  min-width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
}

.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/on.jpg);
  background-position: top, top;
  background-size: cover, contain;
  background-repeat: no-repeat, no-repeat, no-repeat;
  animation: onOff 5s infinite;
  max-width: 100vw;
}

.title-box {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -80%);
  text-align: center;
  text-transform: uppercase;
}

[class^="title-"]:not(.title-box) {
  display: block;
}

.logo {
  height: 10vh;
}

.title-sub {
  animation: showHide 5s infinite;
}

@media (max-width: 560px) {
  .title-box {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: center;
    text-transform: uppercase;
  }
}

@media (max-width: 900px) {
  .logo {
    height: 15vh;
  }
  .title-box {
    top: 95%;
  }
}