<footer class="footer">
    <div class="footer__links">
        <a href="https://www.instagram.com/salaonbcn/" class="footer__link" target="_blank">
            <span class="icon-instagram"></span>
        </a>
        <a href="https://www.facebook.com/SALA-%C3%93N-BCN-477081162731427/" class="footer__link" target="_blank">
            <span class="icon-facebook2"></span>
        </a>
        <a href="https://twitter.com/salaonbcn" class="footer__link" target="_blank">
            <span class="icon-twitter"></span>
        </a>
        <a href="mailto:salaonbcn@gmail.com?Subject=Hola%20Sala%20%C3%93n%20Barcelona" class="footer__link" target="_top">
            <span class="icon-mail"></span>
        </a>
    </div>
</footer>