<div class="navigation">
    <input type="checkbox" id="navi-toggle" class="navigation__checkbox">
    <div class="navigation__header">
        <a href="http://www.salaonbcn.com" class="navigation__main-link">
            <img src="/img/logo_white.png" alt="Logo" title="Logo" class="navigation__logo">
        </a>
        <label for="navi-toggle" class="navigation__button" tabindex="0">
            <span class="navigation__icon">&nbsp;</span>
        </label>
    </div>
    <nav class="navigation__nav">
        <a href="http://www.salaonbcn.com/somos" class="navigation__link">¿Quiénes somos?</a>
        <a href="http://www.salaonbcn.com/contacto" class="navigation__link">Contáctanos</a>
        <a href="http://www.salaonbcn.com/alquiler" class="navigation__link">Alquílanos</a>
        <a href="http://www.salaonbcn.com/eventos" class="navigation__link">Eventos</a>
    </nav>
</div>