<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('templates/meta'); %>
  <title>Sala On</title>
  <link rel="stylesheet" href="css/index.css" inline>
</head>

<body>
  <%- include('templates/navigation'); %>
  <main class="main u-content-margin u-viewport-height">
    <h1 class="main__title">Un<br>espacio<br>abierto<br>para<br>todxs<br>lxs<br><span class="u-text-standout js-main__people"
        id="js-main__people">artistas</span></h1>
  </main>
  <%- include('templates/footer'); %>
  <script src="js/index.bundle.js" inline></script>
</body>

</html>