@import "../main";

.error {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;

    &__code {
        display: block;
        font-size: 10rem;
        font-weight: 100;
        min-height: 14rem;
        height: 20%;
        // min-height: 30vh;
        // min-width: 80vw;

        // &::after {
        //     content: ':(';
        //     color: white;
        //     position: absolute;
        //     top: 35%;
        //     left: 50%;
        //     transform: rotate(90deg);
        //     font-size: 1rem;

        // }
    }

    &__message-box {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 90%;
        transform: translate(-50%, -50%);
        mix-blend-mode: screen;
        text-align: center;
        text-transform: uppercase;
    }

    &__message {
        width: 60%;
        display: block;
        margin: 0 auto;
        padding: 0 .2rem;
        background-color: white;
        color: black;
    }

    &__logo {
        display: inline-block;
        height: inherit;
        margin-left: -.2rem;
    }

    &__link {
        height: 2rem;
    }
}