@import "../main";

.event-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.event {
    position: relative;
    background: black;
    background-size: cover;
    border: 1px solid white;
    width: 275px;
    height: 350px;
    border-radius: 2px;
    margin: 3rem;
    min-width: 275px;
    min-height: 350px;

    &__title {
        position: absolute;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: .5rem;
        text-indent: .5rem;
        text-align: center;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 100%;
        pointer-events: none;
    }

    &__empty {
        position: relative;
        width: 275px;
        height: 0;
        margin: 3rem;
        min-width: 275px;
        min-height: 350px;

        @include respond(phone) {
            display: none;
        }
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 2px;
    }

    &__sinopsis {
        position: absolute;
        top: .25rem;
        left: 50%;
        transform: translate(-50%);
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: .3rem;
        text-indent: .3rem;
    }

    &__buy {
        position: absolute;
        bottom: .25rem;
        left: 50%;
        transform: translate(-50%);
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: .3rem;
        text-indent: .3rem;
    }

    &__link {

        transform-origin: left;
        text-decoration: none;
        color: white;
        transition: all .2s ease-in-out;

        &::before {
            content: '';
            transform-origin: right;
            position: absolute;
            z-index: -1;
            margin-left: -.3rem;
            backface-visibility: hidden;
            width: 100%;
            text-decoration: none;
            height: 100%;
            width: 100%;
            background-color: white;
            transform: scaleX(0);
            transition: all .1s ease-in-out;
        }

        &:hover {
            color: black;

            @include respond(phone) {
                color: white;
            }

            &::before {
                transform: scale(1);

                @include respond(phone) {
                    transform: scale(0);
                }
            }
        }
    }

}

.popup {
    position: fixed;
    display: block;
    overflow-y: scroll;
    z-index: 200;
    top: 0;
    left: 3000px;
    background: white;
    // transition: all 1s ease-in;
    opacity: 0;
    
    &::before {
        content: '';
        overflow: hidden;
        position: fixed;
        height: 100%;
        width: 100%;
        left: 3000px;
        transition: all 1s ease-in;
        background-size: cover;
        background-position: center;
        opacity: 0;
    }
    
    margin-top: $navigation-margin;
    min-height: $fixed-content-size;
    width: 100vw;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;

    @include respond(phone) {
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    &__content {
        position: absolute;
        top: 50%;
        padding: 2rem 2.5rem;
        background-color: rgba(white, 1);
        color: black;
        mix-blend-mode: screen;
        font-weight: 900;
        font-size: 1rem !important;
    }

    &__length {
        display: block;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .1rem;
        text-indent: .1rem;
    }

    &__title, &__subtitle {
        display: block;
        font-weight: 300;
        letter-spacing: .5rem;
        text-indent: .5rem;
        text-transform: uppercase;
        text-align: center;
    }

    &__title {
        font-size: 1.5rem;
    }

    &__subtitle {
        margin: 1rem 0;
        font-size: 1.3rem;
    }

    &__description, .sponsor__brief {
        font-size: 1.2rem;
        text-transform: uppercase;
        text-align: justify;
        line-height: 2rem;
    }

    &__link {
        text-decoration: none;
        color: black;
        position: absolute;
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: .3rem;
        text-indent: .3rem;
        font-weight: 900;
    }

    &__buy {
        top: 2rem;
        right: 2rem;
        color: white;
    }

    &__close {
        color: white;
        text-decoration: none;
        display: inline-block;
        left: 2rem;
        top: 2rem;
    }

}

.popup:target {
    left: 0;
    transition: all .6s .5s;
    opacity: 1;

    &::before {
        left: 0;
        transition: all .9s;
        opacity: 1;
    }
}

/* This is where I add each background to each event */

#azulynotanrosa {
    &::before {
        background-image: linear-gradient(to right bottom, rgba(black, 1) 10%, rgba(grey, .1) 15%), url(/img/azulynotanrosacover.jpg);
    }
}

#cap2intentos {
    &::before {
        background-image: linear-gradient(to right, rgba(black, 1.1), rgba(grey, .1)), url(/img/cap2intentoscover.jpg);
    }
}

#paquete3 {
    &::before {
        background-image: linear-gradient(to right, rgba(black, 1.1), rgba(grey, .1)), url(/img/paquete3cover.jpg);
    }
}

#lacasadelfin {
    &::before {
        background-image: linear-gradient(to right, rgba(black, 1.1), rgba(grey, .1)), url(/img/lacasadelfindelostiemposcover.jpg);
    }
}

#ann {
    &::before {
        background-image: linear-gradient(to right, rgba(black, 1.1), rgba(grey, .1)), url(/img/anncover.jpeg);
    }
}

#backseat {
    &::before {
        background-image: linear-gradient(to right, rgba(black, 1.1), rgba(grey, .1)), url(/img/backstreetfightercover.jpg);
    }
}

#papita {
    &::before {
        background-image: linear-gradient(to right, rgba(black, 1.1), rgba(grey, .1)), url(/img/papitamanitostoncover.jpg);
    }
}

