@import "../main";

$event-background: linear-gradient(to right bottom, rgba(black, .10), rgba(black, .10));
// $white-event-background is for background covers that are too bright
$white-event-background: linear-gradient(to right, rgba(black, 1.1), rgba(grey, .1));

.event-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

/* Beginning of .event block */

.event {
    flex-basis: 30%;
    background-color: black;
    margin-bottom: 3rem;

    & h2 {
        @include letter-spacing(.3rem);
        text-transform: uppercase;
        text-align: center;
    }

    &__type {
        color: white;
        margin: 0;
        font-size: 1.3rem;
        font-family: "Monoton", "HelveticaNeue-Light", "Helvetica Neue", "Helvetica", "Lucida Grande", "Arial", sans-serif !important;
        font-weight: normal !important;
        user-select: none;
    }

    &__body {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    &__poster {
        position: relative;
        border: 1px solid white;
        border-radius: 2px;
        overflow: hidden;

        &:hover .event__title {
            mix-blend-mode: unset;
        }
    }

    &__title {
        user-select: none;
        position: absolute;
        font-size: 1rem;
        bottom: 0;
        left: 0;
        background-color: white;
        width: 100%;
        padding: 1rem 1.5rem;
        font-weight: 100;
        mix-blend-mode: screen;
        text-align: center;
        text-indent: 0;
        text-transform: uppercase;
        margin: 0;
        color: black;
    }

    &__img {
        display: block;
        max-width: 215px;
        height: 290px;
        z-index: 20000;
        transition: all .3s ease-in-out;

        &:hover {
            filter: invert(1);
        }
    }

    &__date {
        margin-top: 0;
        color: white;
        user-select: none;
    }

    &__link {

        &:link,
        &:visited {
            color: white;
            padding: .1rem;
            position: relative;
            transform-origin: left;
            text-decoration: none;
            transition: all .2s ease-in-out;
            font-size: 1rem;
            text-transform: uppercase;
            @include letter-spacing(.3rem);
            z-index: 100;
            margin: 1rem 0;
            -webkit-backface-visibility: hidden;
            /* add to fix webkit bug jitter */
            perspective: 1000px;
        }

        &::before {
            content: '';
            transform-origin: right;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-48%) scaleX(0);
            z-index: -1;
            width: 100%;
            text-decoration: none;
            height: 100%;
            background-color: white;
            transition: all .2s ease-in-out;
        }

        &:hover {

            @include respond-min(tab-land) {
                color: black;

                &::before {
                    transform: translateX(-50%) translateY(-48%) scaleX(1);
                    backface-visibility: hidden;
                }
            }
        }
    }

    &__empty {
        position: relative;
        width: 30%;
        height: 0;
        min-height: 350px;

        @include respond(phone) {
            display: none;
        }
    }
}

/* End of .event block */

.popup {
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    top: 0;
    left: 3000px;
    transition: all .2s ease-in;
    opacity: 0;
    overflow: hidden;
    background-blend-mode: difference;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    @include respond(phone) {
        background-repeat: no-repeat;
    }

    &__nav {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        justify-content: space-between;
    }

    &__link {

        &:link,
        &:visited {
            text-decoration: none;
            color: white;
            font-size: 1.3rem;
            text-transform: uppercase;
            letter-spacing: .3rem;
            text-indent: .3rem;
            font-weight: 900;
            margin: 1rem 1.5rem;
        }
    }

    &__content {
        padding: 2rem 2.5rem;
        min-height: 50%;
        max-height: 50%;
        background-color: rgba(white, 1);
        color: black;
        mix-blend-mode: screen;
        font-weight: 900;
        overflow-y: scroll;
        margin-bottom: $footer-height;
    }

    &__details {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        min-height: 4rem;
    }

    &__length {
        display: block;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .1rem;
        text-indent: .1rem;
    }

    &__title,
    &__subtitle {
        display: block;
        font-weight: 300;
        letter-spacing: .5rem;
        text-indent: .5rem;
        text-transform: uppercase;
        text-align: center;
    }

    &__title {
        font-size: 1.5rem;
    }

    &__subtitle {
        margin: 1rem 0;
        font-size: 1.3rem;
    }

    &__description,
    .sponsor__brief {
        font-size: 1.2rem;
        text-transform: uppercase;
        text-align: justify;
        line-height: 2rem;
    }

}

.popup:target {
    left: 0;
    transition: all .6s .5s;
    opacity: 1;

    &::before {
        left: 0;
        transition: all .9s;
        opacity: 1;
    }
}

/* This is where I add each background to each event */

#candela {
    background: center/contain url(/img/candela.jpg) turquoise;
    @include respond(phone) {
        background: center/cover url(/img/candela.jpg) turquoise;
    }
}

#esteve {
    background: center/contain url(/img/esteve.jpg) turquoise;
    @include respond(phone) {
        background: center/cover url(/img/esteve.jpg) turquoise;
    }
}