@import "../main";

.about {
    width: 100%;
    display: block;
    margin: 0 auto;

    & .col-9 {
        margin-left: 13.4%;

        @media screen and (max-width: 550px) {
            margin-left: 0;
        }
    }

    &__title {
        font-weight: 400;
        text-align: center;
        font-weight: 300;
        letter-spacing: .5rem;
        margin-top: 0;
        text-transform: uppercase;
    }

    &__creators-title {
        font-weight: 400;
        text-align: center;
        font-weight: 300;
        letter-spacing: .5rem;
        margin-top: 0;
        text-transform: uppercase;
    }

    &__esence {
        font-size: 2rem;
        color: black;
        background-color: white;
        letter-spacing: .5rem;
        text-transform: uppercase;

        @media screen and (max-width: 550px) {
            letter-spacing: 0;
            font-size: 1.5rem;
        }
    }

    &__quote {
        text-transform: uppercase;
        text-align: center;
        background-color: white;
        color: black;
        letter-spacing: .5rem;

        @media screen and (max-width: 550px) {
            letter-spacing: 0;
        }
    }

    &__text {
        font-size: 1.8rem;
        text-align: justify;
        padding: 0 2rem;
        mix-blend-mode: screen;

        @media screen and (max-width: 550px) {
            font-size: 1.3rem;
            text-align: left;
        }

        & p:not(:last-child) {
            margin-bottom: 2rem;
        }

        & p:last-child {
            text-align: center;
            letter-spacing: .2rem;
            margin-bottom: 1rem;
        }
    }

    &__creators {
        background-color: white;
        color: black;
        text-align: center;
        display: inline-block;
        width: 100%;
    }

    &__creator {
        max-width: 100%;
        display: inline-block;
        position: relative;
    }

    &__creator-name {
        font-weight: 400;
        text-align: center;
        font-weight: 300;
        letter-spacing: .5rem;
        text-indent: .5rem;
        text-transform: uppercase;
        font-size: 1.3rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        pointer-events: none;
        transition: all .3s;
        text-align: center;
    }

    &__creator-link {
        display: inline-block;
        overflow: hidden;

        @media screen and (min-width: 959px) {
            &:hover > .about__creator-image {
                transform: scale(1.1);
                filter: grayscale(100%);
            }
    
            &:hover + .about__creator-name {
                background-color: black;
                color: white;
            }
        }
    }

    &__creator-image {
        display: block;
        margin: 0 auto;
        height: 270px;
        width: 250px;
        border-radius: .2rem;
        transition: all .3s;
        perspective: 700px;

        @media screen and (orientation: landscape) and (max-height: 500px) and (max-width: 900px) {
            height: 200px;
            width: 90%;
        }

        @media screen and (orientation: portrait) and (min-width: 700px) and (max-width: 900px) {
            height: 200px;
            width: 90%;
        }
    }


}