<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130954281-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-130954281-1');
    </script>
    <%- include('../templates/meta'); %>
    <title>Sala On - Contáctanos</title>
    <link rel="canonical" href="http://www.salaonbcn.com/contacto">
    <meta name="description" content="Nuestra página de contacto, para que te acerques más a nosotros y a nuestra Sala Ón, en Barcelona, España.">
    <link rel="stylesheet" href="../css/contacto.css" inline>
</head>



<body class="u-preload">
    <%- include('../templates/navigation'); %>
    <header class="header">
        <h1 class="header__title">Contáctanos</h1>
    </header>
    <main class="u-footer-margin u-fixed-content-size-plus-header">
        <div class="contact">
            <a href="mailto:salaonbcn@gmail.com?Subject=Hola%20Sala%20%C3%93n%20Barcelona" class="contact__email" target="_top">
                <span class="contact__email">salaonbcn@gmail.com</span>
            </a>
            <a class="contact__phone" href="tel:+34935252289" rel="nofollow">935 25 22 89</a>
            <span class="contact__address">Carrer Nàpols, 305<br>Barcelona, Spain<br>08025</span>
            <a href="https://www.google.com/maps/dir/?api=1&destination=Sala%20On%20Barcelona&destination_place_id=ChIJ4dC_ZV-jpBIRV_8BIsejxjk"
                target="_blank" class="link link--contact">Ven a Sala Ón</a>
        </div>
    </main>
    <%- include('../templates/footer'); %>
    <script src="../js/contacto.bundle.js" inline></script>
</body>

</html>