<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../templates/meta'); %>
    <meta name="robots" content="noindex, nofollow">
    <title>Sala Ón - Ups...</title>
    <link rel="stylesheet" href="../css/error.css" inline>
</head>

<body>
    <section class="error">
        <div class="error__message-box">
            <h2 class="error__code">404</h2>
            <h3 id="here" class="error__message u-margin-bottom-small">Ups... Sobrepasaste los límites de la</h3>
            <a href="http://www.salaonbcn.com" class="error__link">
                <img src="/img/logo_white.png" alt="Logo" title="Logo" class="error__logo">
            </a>
        </div>
    </section>
    <script src="../js/error.bundle.js" inline></script>
</body>

</html>