<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sala On</title>
    <link rel="stylesheet" href="../css/error.css" inline>
</head>
<body>
    <section class="error">
        <h2 class="error__code u-text-standout u-blink">404</h2>
        <div class="error__message-box">
            <h2 class="error__message">Ups... Sobrepasaste los límites de la</h2>
            <a href="http://www.salaonbcn.com" class="error__link">
            <img src="img/logo_white.png" alt="Logo" title="Logo" class="error__logo">
          </a>
        </div>
    </section>
</body>
</html>