<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../templates/meta'); %>
    <title>Sala On - Eventos</title>
    <link rel="stylesheet" href="../css/eventos.css" inline>
</head>



<body>
    <%- include('../templates/navigation'); %>
    <main class="main u-main-content">
        <article class="event">
            <img src="/img/azulynotanrosa.jpg" alt="" class="event__img">
            <h3 class="event__title">Azul y no tan Rosa</h3>
            <a href="" class="link link--event"></a>
        </article>
    </main>
    <%- include('../templates/footer'); %>
</body>

</html>