<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../templates/meta'); %>
    <title>Sala On - Programación</title>
    <link rel="canonical" href="http://www.salaonbcn.com/programacion">
    <meta name="description" content="Toda la programación de nuestra sala. Aquí encontrarás nuestros eventos, obras, cursos, y mucho más.">
    <link rel="stylesheet" href="../css/programacion.css" inline>
</head>

<body>
    <%- include('../templates/navigation'); %>
    <header class="header">
        <h1 class="header__title">Programación</h1>
    </header>
    <main class="main u-footer-margin">
        <div class="events">
            <div class="event-group">
                <article class="event">
                    <h2 class="event__type">Monólogo</h2>
                    <div class="event__body">
                        <a href="#labruja" class="event__link event__sinopsis">Sinopsis</a>
                        <div class="event__poster">
                            <img class="event__img" src="/img/silvia.jpg" alt="La Bruja">
                            <h2 class="event__title">La Bruja</h2>
                        </div>
                        <a href="https://entradium.com/sites/NjI4Mw==" class="event__link" target="_blank">Comprar</a>
                        <p class="event__date">15 - 12 - 2018 (19:00)</p>
                    </div>
                </article>
                <div class="popup" id="labruja">
                    <div class="popup__nav">
                        <a href="#" class="popup__close popup__link" data-back="labruja">Volver</a>
                        <a href="https://entradium.com/sites/NjI4Mw==" class="popup__buy popup__link" target="_blank">Comprar</a>
                    </div>
                    <div class="popup__content">
                        <h2 class="popup__title u-margin-bottom-small">"La Bruja"</h2>
                        <div class="popup__details">
                            <p class="popup__length">Con Silvia Siles | Dirección: Cristian Fernández | Guión: Cristian
                                Fernández</p>
                            <p class="popup__length">15 mins appróx | Idioma: Español</p>
                        </div>
                        <h3 class="popup__subtitle u-margin-top-normal">Sinopsis</h3>
                        <p class="popup__description">Una joven acusada de brujería reflexiona sobre su vida y a la
                            sociedad que le ha tocado vivir mientras está encerrada en una oscura y silenciosa celda.</p>
                    </div>
                </div>
                <article class="event">
                    <h2 class="event__type">Monólogo</h2>
                    <div class="event__body">
                        <a href="#laberlinesa" class="event__link event__sinopsis">Sinopsis</a>
                        <div class="event__poster">
                            <img class="event__img" src="/img/laura.jpg" alt="La Berlinesa">
                            <h2 class="event__title">La Berlinesa</h2>
                        </div>
                        <a href="https://entradium.com/sites/NjI4Mw==" class="event__link" target="_blank">Comprar</a>
                        <p class="event__date">15 - 12 - 2018 (19:30)</p>
                    </div>
                </article>
                <div class="popup" id="laberlinesa">
                    <div class="popup__nav">
                        <a href="#" class="popup__close popup__link" data-back="laberlinesa">Volver</a>
                        <a href="https://entradium.com/sites/NjI4Mw==" class="popup__buy popup__link" target="_blank">Comprar</a>
                    </div>
                    <div class="popup__content">
                        <h2 class="popup__title u-margin-bottom-small">"La Berlinesa"</h2>
                        <div class="popup__details">
                            <p class="popup__length">Con Laura Millaruelo | Dirección: Lara Vacas | Guión: Marc
                                Villanueva</p>

                            <p class="popup__length">15 mins appróx| Idioma: Catalán</p>
                        </div>
                        <h3 class="popup__subtitle u-margin-top-normal">Sinopsis</h3>
                        <p class="popup__description">
                            Berlín, años 40. Margaret Schulze sobrevive a las exigencias de los "hombres de su vida".
                            Condicionada por su posición social y el contexto histórico donde se encuentra, vemos a una
                            mujer totalmente infravalorada que se esfuerza por tomar una actitud noble y aristocrática,
                            pero las apariencias no solamente engañan, sino que no duran para siempre: Margaret,
                            liberándose por un instante de la presión social, romperá su silencio.
                        </p>
                    </div>
                </div>
                <article class="event">
                    <h2 class="event__type">Monólogo</h2>
                    <div class="event__body">
                        <a href="#payasoyo" class="event__link event__sinopsis">Sinopsis</a>
                        <div class="event__poster">
                            <img class="event__img" src="/img/daniel.jpg" alt="¿Payaso... Yo?">
                            <h2 class="event__title">¿Payaso... Yo?</h2>
                        </div>
                        <a href="https://entradium.com/sites/NjI4Mw==" class="event__link" target="_blank">Comprar</a>
                        <p class="event__date">15 - 12 - 2018 (20:00)</p>
                    </div>
                </article>
                <div class="popup" id="payasoyo">
                    <div class="popup__nav">
                        <a href="#" class="popup__close popup__link" data-back="payasoyo">Volver</a>
                        <a href="https://entradium.com/sites/NjI4Mw==" class="popup__buy popup__link" target="_blank">Comprar</a>
                    </div>
                    <div class="popup__content">
                        <h2 class="popup__title u-margin-bottom-small">"¿Payaso... Yo?"</h2>
                        <div class="popup__details">
                            <p class="popup__length">Con Daniel Vásquez | Dirección: Jose Luis Userche | Guión: Jose
                                Luis Userche</p>

                            <p class="popup__length">15 mins appróx| Idioma: Español</p>
                        </div>
                        <h3 class="popup__subtitle u-margin-top-normal">Sinopsis</h3>
                        <p class="popup__description">
                            Una historia basada en hechos reales. Un payaso con poca fortuna es arrestado en las calles
                            de la ciudad. Será trasladado a una oficina judicial en donde tendrá que dar declaraciones
                            por los últimos acontecimientos que se han suscitado. Lo que nadie se imagina es que este
                            noble hombre, nos regalará una historia aleccionadora defendiendo su libertad desde el amor
                            y su maravilloso oficio de hacer reír.</p>
                    </div>
                </div>
                <article class="event">
                    <h2 class="event__type">Monólogo</h2>
                    <div class="event__body">
                        <a href="#yosoylaputaama" class="event__link event__sinopsis">Sinopsis</a>
                        <div class="event__poster">
                            <img class="event__img" src="/img/teresa.jpg" alt="Yo soy la puta ama">
                            <h2 class="event__title">Yo soy la puta ama</h2>
                        </div>
                        <a href="https://entradium.com/sites/NjI4Mw==" class="event__link" target="_blank">Comprar</a>
                        <p class="event__date">15 - 12 - 2018 (20:30)</p>
                    </div>
                </article>
                <div class="popup" id="yosoylaputaama">
                    <div class="popup__nav">
                        <a href="#" class="popup__close popup__link" data-back="yosoylaputaama">Volver</a>
                        <a href="https://entradium.com/sites/NjI4Mw==" class="popup__buy popup__link" target="_blank">Comprar</a>
                    </div>
                    <div class="popup__content">
                        <h2 class="popup__title u-margin-bottom-small">"Yo soy la puta ama"</h2>
                        <div class="popup__details">
                            <p class="popup__length">Con Teresa Roig | Dirección: Teresa Roig | Guión: Enrique Salas</p>

                            <p class="popup__length">15 mins appróx| Idioma: Español</p>
                        </div>
                        <h3 class="popup__subtitle u-margin-top-normal">Sinopsis</h3>
                        <p class="popup__description">
                            Ella es "la puta ama". Tiene dinero, poder, relaciones... Sin embargo, esconde un gran
                            secreto...</p>
                    </div>
                </div>
                <article class="event">
                    <h2 class="event__type">Monólogo</h2>
                    <div class="event__body">
                        <a href="#treblinka" class="event__link event__sinopsis">Sinopsis</a>
                        <div class="event__poster">
                            <img class="event__img" src="/img/diego.jpg" alt="Treblinka">
                            <h2 class="event__title">Treblinka</h2>
                        </div>
                        <a href="https://entradium.com/sites/NjI4Mw==" class="event__link" target="_blank">Comprar</a>
                        <p class="event__date">16 - 12 - 2018 (19:00)</p>
                    </div>
                </article>
                <div class="popup" id="treblinka">
                    <div class="popup__nav">
                        <a href="#" class="popup__close popup__link" data-back="treblinka">Volver</a>
                        <a href="https://entradium.com/sites/NjI4Mw==" class="popup__buy popup__link" target="_blank">Comprar</a>
                    </div>
                    <div class="popup__content">
                        <h2 class="popup__title u-margin-bottom-small">"Treblinka"</h2>
                        <div class="popup__details">
                            <p class="popup__length">Con Diego Mora | Dirección: Diego Mora | Guión: Diego Leon</p>

                            <p class="popup__length">15 mins appróx| Idioma: Español</p>
                        </div>
                        <h3 class="popup__subtitle u-margin-top-normal">Sinopsis</h3>
                        <p class="popup__description">
                            En 1945, el campo de concentración nazi alemán en Polonia Treblinka, se convierte en el escenario de la relación entre un dogmático soldado alemán y una orgullosa filósofa judía, la cual celebra la vida a través de la muerte, haciendo el amor en medio de una sangrienta contienda. 
Esta historia se convierte en un canto que nos conmueve al recordarnos que la dignidad, el respeto por la vida, la fe en Dios, e incluso el amor, son inherentes a cualquier ser humano, sin importar de qué bando de la guerra pertenezca.</p>
                    </div>
                </div>
                <article class="event">
                    <h2 class="event__type">Monólogo</h2>
                    <div class="event__body">
                        <a href="#atarantinoconamor" class="event__link event__sinopsis">Sinopsis</a>
                        <div class="event__poster">
                            <img class="event__img" src="/img/leonor.jpg" alt="A Tarantino con Amor">
                            <h2 class="event__title">A Tarantino con Amor</h2>
                        </div>
                        <a href="https://entradium.com/sites/NjI4Mw==" class="event__link" target="_blank">Comprar</a>
                        <p class="event__date">16 - 12 - 2018 (19:30)</p>
                    </div>
                </article>
                <div class="popup" id="atarantinoconamor">
                    <div class="popup__nav">
                        <a href="#" class="popup__close popup__link" data-back="atarantinoconamor">Volver</a>
                        <a href="https://entradium.com/sites/NjI4Mw==" class="popup__buy popup__link" target="_blank">Comprar</a>
                    </div>
                    <div class="popup__content">
                        <h2 class="popup__title u-margin-bottom-small">"A Tarantino con Amor"</h2>
                        <div class="popup__details">
                            <p class="popup__length">Con Leonor Olavarría | Dirección: Leonor Olavarría | Guión:
                                Greymar Hernandez</p>

                            <p class="popup__length">15 mins appróx| Idioma: Español</p>
                        </div>
                        <h3 class="popup__subtitle u-margin-top-normal">Sinopsis</h3>
                        <p class="popup__description">
                            Sola,<br>
                            Asustada,<br>
                            Y con un trago en la mano nos va contando su historia.<br>
                            Lo unico que le queda es su obsesión para Tarantino.<br>
                            Como diria Tarantino : “Verdaderamente pienso que una de mis fortalezas es el relato de
                            historias”. Y asi piensa ella también.</p>
                    </div>
                </div>
                <article class="event">
                    <h2 class="event__type">Monólogo</h2>
                    <div class="event__body">
                        <a href="#quepuedohacerporti" class="event__link event__sinopsis">Sinopsis</a>
                        <div class="event__poster">
                            <img class="event__img" src="/img/bianca.jpg" alt="¿Qué puedo hacer por ti?">
                            <h2 class="event__title">¿Qué puedo hacer por ti?</h2>
                        </div>
                        <a href="https://entradium.com/sites/NjI4Mw==" class="event__link" target="_blank">Comprar</a>
                        <p class="event__date">16 - 12 - 2018 (20:00)</p>
                    </div>
                </article>
                <div class="popup" id="quepuedohacerporti">
                    <div class="popup__nav">
                        <a href="#" class="popup__close popup__link" data-back="quepuedohacerporti">Volver</a>
                        <a href="https://entradium.com/sites/NjI4Mw==" class="popup__buy popup__link" target="_blank">Comprar</a>
                    </div>
                    <div class="popup__content">
                        <h2 class="popup__title u-margin-bottom-small">"¿Qué puedo hacer por ti?"</h2>
                        <div class="popup__details">
                            <p class="popup__length">Con Bianca Palmisano | Dirección: Bianca Palmisano | Guión: Bianca
                                Palmisano</p>

                            <p class="popup__length">15 mins appróx| Idioma: Español</p>
                        </div>
                        <h3 class="popup__subtitle u-margin-top-normal">Sinopsis</h3>
                        <p class="popup__description">
                            Una mujer despierta en la habitación de un hospital. En ese momento empieza a saber porqué
                            esta allí y comienza a relatar la historia de su vida y lo que su pareja ha provocado en
                            ella durante éstos años. Después de recordar un hecho sucedido entre ellos la noche
                            anterior, ella decide recoger sus cosas y desaparecer.</p>
                    </div>
                </div>
                <article class="event">
                    <h2 class="event__type">Monólogo</h2>
                    <div class="event__body">
                        <a href="#hijadelaguerra" class="event__link event__sinopsis">Sinopsis</a>
                        <div class="event__poster">
                            <img class="event__img" src="/img/paula.jpg" alt="Hija de la Guerra">
                            <h2 class="event__title">Hija de la Guerra</h2>
                        </div>
                        <a href="https://entradium.com/sites/NjI4Mw==" class="event__link" target="_blank">Comprar</a>
                        <p class="event__date">16 - 12 - 2018 (20:30)</p>
                    </div>
                </article>
                <div class="popup" id="hijadelaguerra">
                    <div class="popup__nav">
                        <a href="#" class="popup__close popup__link" data-back="hijadelaguerra">Volver</a>
                        <a href="https://entradium.com/sites/NjI4Mw==" class="popup__buy popup__link" target="_blank">Comprar</a>
                    </div>
                    <div class="popup__content">
                        <h2 class="popup__title u-margin-bottom-small">"Hija de la Guerra"</h2>
                        <div class="popup__details">
                            <p class="popup__length">Con Paula Woyzechowsky | Dirección: Paula Woyzechowsky | Guión:
                                Paula Woyzechowsky</p>

                            <p class="popup__length">15 mins appróx| Idioma: Español</p>
                        </div>
                        <h3 class="popup__subtitle u-margin-top-normal">Sinopsis</h3>
                        <p class="popup__description">
                            Una sobreviviente del Holocausto viaja en el tiempo recordando cómo se salvó de la muerte.
                            ¡Aquello sí pasó!</p>
                    </div>
                </div>
                <article class="event__empty"></article>
            </div>
        </div>
    </main>
    <%- include('../templates/footer'); %>
    <script src="../js/programacion.bundle.js" inline></script>
</body>

</html>