<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../templates/meta'); %>
    <title>Sala On - Programación</title>
    <link rel="stylesheet" href="../css/programacion.css" inline>
</head>



<body>
    <%- include('../templates/navigation'); %>
    <header class="header">
        <h1 class="header__title">Programación</h1>
    </header>
    <main class="main u-footer-margin">
        <div class="events">
            <div class="event-group">
                <article class="event">
                    <h2 class="event__title">Película</h2>
                    <a href="#azulynotanrosa" class="event__sinopsis event__link">Sinopsis</a>
                    <img class="event__img" src="/img/azulynotanrosa.jpg" alt="Azul y no tan Rosa">
                    <a href="https://entradium.com/entradas/azul-y-no-tan-rosa-veffbcn2018" class="event__buy event__link" target="_blank">Comprar</a>
                </article>
                <div class="popup" id="azulynotanrosa">
                    <a href="#" class="popup__close popup__link">Volver</a>
                    <a href="https://entradium.com/entradas/azul-y-no-tan-rosa-veffbcn2018" class="popup__buy popup__link" target="_blank">Comprar</a>
                    <div class="popup__content">
                        <h2 class="popup__title u-margin-bottom-small">Azul y no tan Rosa</h2>
                        <p class="popup__length">Miguel Ferrari | 2012 | 110 mins</p>
                        <h3 class="popup__subtitle u-margin-top-normal">Sinopsis</h3>
                        <p class="popup__description">Diego, un fotógrafo de éxito, decide formalizar su relación con
                            Fabrizio
                            yéndose a vivir con él,
                            pero, de manera inesperada, se ve obligado a hacerse cargo de su hijo Armando, que vive en
                            España y al que no ha visto desde hace años. El chico llega con una maleta cargada de
                            reproches, de modo que a Diego no le resultará fácil restablecer la relación afectiva con
                            él. En
                            tales circunstancias, un grupo de radicales homófobos le propinan a Fabrizio una brutal
                            paliza
                            que lo deja en coma.</p>
                    </div>
                </div>
                <article class="event">
                    <h2 class="event__title">Película</h2>
                    <a href="#cap2intentos" class="event__sinopsis event__link">Sinopsis</a>
                    <img class="event__img" src="/img/cap2intentos.jpg" alt="Cap 2 Intentos">
                    <a href="https://entradium.com/entradas/cap-2-intentos-veffbcn2018" class="event__buy event__link" target="_blank">Comprar</a>
                </article>
                <div class="popup" id="cap2intentos">
                    <a href="#" class="popup__close popup__link">Volver</a>
                    <a href="https://entradium.com/entradas/cap-2-intentos-veffbcn2018" class="popup__buy popup__link" target="_blank">Comprar</a>
                    <div class="popup__content">
                        <h2 class="popup__title u-margin-bottom-small">CAP 2 intentos</h2>
                        <p class="popup__length">Carlos Oteyza | 2016 | 100 mins</p>
                        <h3 class="popup__subtitle u-margin-top-normal">Sinopsis</h3>
                        <p class="popup__description">CAP 2 intentos es un descarnado viaje de indagación a nuestro
                            pasado reciente, es
                            el retrato de dos ambiciosos proyectos políticos que pretendían alcanzar algo: un
                            mejor país. Una historia que nos obliga a preguntarnos sobre los venezolanos y
                            sobre el entusiasmo que generan los líderes en tiempos de bonanza y del
                            desencuentro con ellos cuando se requiere sacrificios para alcanzar el bienestar; así
                            como la imperiosa necesidad de un nuevo consenso que haga viable un proyecto de
                            crecimiento sostenido para el país.</p>
                    </div>
                </div>
                <article class="event">
                    <h2 class="event__title">Película</h2>
                    <a href="#paquete3" class="event__sinopsis event__link">Sinopsis</a>
                    <img class="event__img" src="/img/paquete3.jpg" alt="Paquete #3">
                    <a href="https://entradium.com/entradas/paquete-3-veffbcn2018" class="event__buy event__link" target="_blank">Comprar</a>
                </article>
                <div class="popup" id="paquete3">
                        <a href="#" class="popup__close popup__link">Volver</a>
                        <a href="https://entradium.com/entradas/paquete-3-veffbcn2018" class="popup__buy popup__link" target="_blank">Comprar</a>
                        <div class="popup__content">
                            <h2 class="popup__title u-margin-bottom-small">Paquete#3</h2>
                            <p class="popup__length">Alfredo Hueck | 2015 | 100 mins</p>
                            <h3 class="popup__subtitle u-margin-top-normal">Sinopsis</h3>
                            <p class="popup__description">El Cholo es un taxista peruano que por circunstancias oscuras debe huir de su país para
                                    trabajar en Venezuela. Por vueltas del destino, el Cholo termina conociendo a un
                                    personaje extraño llamado El ruso quien le ofrece un trabajo como asesino a sueldo. Más
                                    allá de la excelente paga, el negocio viene con hospedaje incluido, comida, diversiones
                                    entre hermosas chicas y un grupo de compañeros entrañables de diferentes
                                    nacionalidades que se desempeñan en lo mismo. Desde ese momento, las cosas para el
                                    Cholo comienzan a marchar bien, pero lo que él desconoce es que la violencia es una
                                    espiral del que nadie se puede escapar.</p>
                        </div>
                    </div>
                <article class="event">
                    <h2 class="event__title">Película</h2>
                    <a href="#lacasadelfin" class="event__sinopsis event__link">Sinopsis</a>
                    <img class="event__img" src="/img/lacasadelfindelostiempos.jpg" alt="La Casa del Fin de los Tiempos">
                    <a href="https://entradium.com/entradas/la-casa-del-fin-de-los-tiempos-veffbcn2018" class="event__buy event__link" target="_blank">Comprar</a>
                </article>
                <div class="popup" id="lacasadelfin">
                        <a href="#" class="popup__close popup__link">Volver</a>
                        <a href="https://entradium.com/entradas/la-casa-del-fin-de-los-tiempos-veffbcn2018" class="popup__buy popup__link" target="_blank">Comprar</a>
                        <div class="popup__content">
                            <h2 class="popup__title u-margin-bottom-small">La Casa del Fin de los Tiempos</h2>
                            <p class="popup__length">Alejandro Hidalgo | 2013 | 100 mins</p>
                            <h3 class="popup__subtitle u-margin-top-normal">Sinopsis</h3>
                            <p class="popup__description">Dulce, una madre de familia, habita en una casa antigua junto a sus pequeños
                                    hijos Leopoldo, Rodrigo y su esposo Juan José. En aquel lugar Dulce experimenta
                                    aterradores encuentros con apariciones en la oscuridad. Misteriosos fantasmas
                                    que le advierten de una profecía que está por desatarse. Dulce, desesperada,
                                    intenta todo lo posible para cambiar el destino, pero una tragedia está por ocurrir.
                                    Dulce es condenada a la pena máxima de prisión por un crimen que ella no ha
                                    cometido. Treinta años después, envejecida, la mujer regresa a la casa para
                                    continuar su condena en un arresto domiciliario. Allí, junto a la ayuda de un
                                    sacerdote, luchará por descifrar el misterio y la tragedia que tanto la han
                                    atormentado hasta descubrir el fenómeno que lo cambiará todo.</p>
                        </div>
                    </div>
                <article class="event">
                    <h2 class="event__title">Película</h2>
                    <a href="#ann" class="event__sinopsis event__link">Sinopsis</a>
                    <img class="event__img" src="/img/ann.jpg" alt="Ann">
                    <a href="https://entradium.com/entradas/ann-veffbcn2018" class="event__buy event__link" target="_blank">Comprar</a>
                </article>
                <div class="popup" id="ann">
                        <a href="#" class="popup__close popup__link">Volver</a>
                        <a href="https://entradium.com/entradas/ann-veffbcn2018" class="popup__buy popup__link" target="_blank">Comprar</a>
                        <div class="popup__content">
                            <h2 class="popup__title u-margin-bottom-small">Ann</h2>
                            <p class="popup__length">Carla Forte | 2016 | 87 mins</p>
                            <h3 class="popup__subtitle u-margin-top-normal">Sinopsis</h3>
                            <p class="popup__description">ANN es un largometraje que narra la historia de Rubén. Un artista visual de clase
                                    baja que ha decidido abandonar su vida atormentada refugiándose en su propia
                                    imaginación. El protagonista crea un mundo paralelo a la realidad, que lo
                                    distancia de todo apego material y emocional, exorcizando de esta manera su
                                    ego. Su esposa Ann, ante una deteriorada relación, intenta comprender el mundo
                                    idealizado de Rubén; sin embargo, la degradación física y psicológica de su
                                    esposo desvela una terrible confusión entre la realidad y su mundo imaginario, lo
                                    que inevitablemente le obligará a elegir a qué lugar pertenecer antes de que sea
                                    demasiado tarde.</p>
                        </div>
                    </div>
                <article class="event">
                    <h2 class="event__title">Película</h2>
                    <a href="#backseat" class="event__sinopsis event__link">Sinopsis</a>
                    <img class="event__img" src="/img/backseatfighter.jpg" alt="Backseat Fighter">
                    <a href="https://entradium.com/entradas/backseat-fighter-veffbcn2018" class="event__buy event__link" target="_blank">Comprar</a>
                </article>
                <div class="popup" id="backseat">
                        <a href="#" class="popup__close popup__link">Volver</a>
                        <a href="https://entradium.com/entradas/backseat-fighter-veffbcn2018" class="popup__buy popup__link" target="_blank">Comprar</a>
                        <div class="popup__content">
                            <h2 class="popup__title u-margin-bottom-small">Backseat Fighter</h2>
                            <p class="popup__length">Mario Pagano | 2016 | 84 mins</p>
                            <h3 class="popup__subtitle u-margin-top-normal">Sinopsis</h3>
                            <p class="popup__description">Mark es un policía encubierto que se oculta en la noche y en los combates clandestinos,
                                    mientras es perseguido por una misión secreta que salió mal. Una vez más, decide huir y
                                    en su camino se topa con Sandy, una hermosa prostituta que comparte el mismo deseo
                                    que él: dejar atrás todo el dolor y comenzar de cero. Juntos comienzan un nuevo camino.
                                    Sin embargo, el pasado no suele dar tregua y Mark deberá enfrentarse a él. Esto pondrá
                                    en peligro ese plan de comenzar de nuevo, a Sandy y su entorno.</p>
                        </div>
                    </div>
                <article class="event">
                    <h2 class="event__title">Película</h2>
                    <a href="#papita" class="event__sinopsis event__link">Sinopsis</a>
                    <img class="event__img" src="/img/papitamanitoston.jpg" alt="Papita Maní Tostón">
                    <a href="https://entradium.com/entradas/papita-mani-toston-veffbcn2018" class="event__buy event__link" target="_blank">Comprar</a>
                </article>
                <div class="popup" id="papita">
                        <a href="#" class="popup__close popup__link">Volver</a>
                        <a href="https://entradium.com/entradas/papita-mani-toston-veffbcn2018" class="popup__buy popup__link" target="_blank">Comprar</a>
                        <div class="popup__content">
                            <h2 class="popup__title u-margin-bottom-small">Papita, Mani, Toston</h2>
                            <p class="popup__length">Luis Carlos Hueck | 2013 | 115 mins</p>
                            <h3 class="popup__subtitle u-margin-top-normal">Sinopsis</h3>
                            <p class="popup__description">Andrés (Jean Pierre Agostini) es un fan empedernido de los Leones del Caracas
                                    uno de los principales equipos de béisbol de Venezuela. Julissa (Juliette Pardau)
                                    es una fanática de los Navegantes del Magallanes, el equipo rival.
                                    Un día Andrés consigue por error unas entradas para ver el partido en la zona VIP
                                    de Magallanes. Allí se encuentra con Julissa, que es la fanática #1 de sus rivales.
                                    Ambos se enamoran pero, para poder estar juntos, tendrán que fingir ser del
                                    equipo contrario, confundiendo y enfadando a sus familiares y amigos y
                                    ocasionando las más divertidas situaciones.</p>
                        </div>
                    </div>
                <article class="event__empty"></article>
                <article class="event__empty"></article>
            </div>
        </div>
    </main>

    <%- include('../templates/footer'); %>
</body>

</html>