<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130954281-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-130954281-1');
    </script>
    <%- include('../templates/meta'); %>
    <title>Sala On - Programación</title>
    <link rel="canonical" href="http://www.salaonbcn.com/programacion">
    <meta name="description" content="Toda la programación de nuestra sala. Aquí encontrarás nuestros eventos, obras, cursos, y mucho más.">
    <link rel="stylesheet" href="../css/programacion.css" inline>
</head>

<body>
    <%- include('../templates/navigation'); %>
    <header class="header">
        <h1 class="header__title">Programación</h1>
    </header>
    <main class="main u-footer-margin">
        <div class="events">
            <div class="event-group">
                <article class="event">
                    <h2 class="event__type">Curso</h2>
                    <div class="event__body">
                        <a href="#candela" class="event__link event__sinopsis">Descripción</a>
                        <div class="event__poster">
                            <img class="event__img" src="/img/candela.jpg" alt="Curso de Interpretación">
                        </div>

                        <a href="mailto:cursocanton@gmail.com?Subject=Hola%20Candela%2C%20estoy%20interesadx%20en%20tu%20curso"
                            class="event__link" target="_blank">Contactar</a>
                        <p class="event__date">25 - 01 - 2019</p>
                    </div>
                </article>
                <div class="popup" id="candela">
                    <div class="popup__nav">
                        <a href="#" class="popup__close popup__link" data-back="candela">Volver</a>
                        <a href="mailto:cursocanton@gmail.com?Subject=Hola%20Candela%2C%20estoy%20interesadx%20en%20tu%20curso"
                            class="popup__buy popup__link" target="_blank">Contactar</a>
                    </div>
                    <div class="popup__content">
                        <h2 class="popup__title u-margin-bottom-small">"Curso de Interpretación"</h2>
                        <div class="popup__details">
                            <p class="popup__length">Con Candela Antón, actriz de Merlí</p>
                            <p class="popup__length">4 clases al mes, por 7 meses</p>
                        </div>
                        <h3 class="popup__subtitle u-margin-top-normal">Descripción</h3>
                        <p class="popup__description">Se trata de un curso enfocado a aquellos que, por pasión o por
                            ánimo de dedicarse a la profesión, quieran adquirir conocimientos sobre el trabajo y la
                            vida del actor.<br>
                            El objetivo concreto del curso es que los alumnos desarrollen un pensamiento crítico
                            respecto a su trabajo, y que adquieran las herramientas necesarias para hacer frente a
                            todos los retos que puedan encontrarse en el ejercicio del arte y la profesión actorales.<br>
                            Cada clase estará enfocada hacia un tema concreto, siendo estos: Emoción, Expresión y
                            Creación y Dramaturgia. Cada una de las 4 clases de cada mes estará enfocada a uno de estos
                            4 temas.<br>
                            Los movimientos interiores, los movimientos del interior al exterior, y la fuerza creativa.<br>
                            “La analogía del actor como músico con su instrumento” Los alumnos deben conocer su
                            instrumento, aprender a afinarlo para extraer de él las notas necesarias para interpretar
                            cualquier pieza, ser capaces de improvisar y crear in situ mediante las herramientas de que
                            disponen, para que, llegado el momento, puedan comprender el lenguaje musical y la forma de
                            las piezas que se les presenten.”<br>
                            -Emoción: En esta clase trabajaremos los procesos internos y emocionales de cada uno, a
                            través de ejercicios de introspección y descubrimiento. Experimentaremos los límites de
                            nuestras emociones particulares.<br>
                            -Expresión: En esta segunda sesión, trabajaremos las diversas formas de expresar las
                            emociones sentidas, la expresión corporal, y la plasmación de todas las ideas que podamos
                            concebir, a partir de ejercicios de conocimiento del propio cuerpo, de los mecanismos de la
                            expresión y de identificación de las expresiones ajenas.<br>
                            -Creación: Aquí, desarrollaremos la capacidad de improvisar a través de la imaginación y de
                            las herramientas adquiridas en Emoción y Expresión.<br>
                            -Dramaturgia: Se harán dos muestras del trabajo hecho durante el curso, ambas en un teatro
                            profesional (aún por determinar), una entre finales de enero y principios de febrero, y
                            otra, de creación propia de los alumnos a final de curso entre finales de junio y
                            principios de julio.<br>
                            Durante todo el curso habrá diversas masterclass de profesionales del sector teatral, aún
                            por cerrar debido a disponibilidad de los ponientes.<br></p>
                    </div>
                </div>
                <article class="event">
                    <h2 class="event__type">Clase Magistral</h2>
                    <div class="event__body">
                        <a href="#esteve" class="event__link event__sinopsis">Descripción</a>
                        <div class="event__poster">
                            <img class="event__img" src="/img/esteve.jpg" alt="Clase Magistral">
                            <h2 class="event__title">El Actor y la Cámara</h2>
                        </div>
                        <a href="https://entradium.com/sites/NjI4Mw==" class="event__link" target="_blank">Comprar</a>
                        <p class="event__date">25 - 01 - 2019 (19:00)</p>
                    </div>
                </article>
                <div class="popup" id="esteve">
                    <div class="popup__nav">
                        <a href="#" class="popup__close popup__link" data-back="esteve">Volver</a>
                        <a href="https://entradium.com/sites/NjI4Mw==" class="popup__buy popup__link" target="_blank">Comprar</a>
                    </div>
                    <div class="popup__content">
                        <h2 class="popup__title u-margin-bottom-small">"El Actor y la Cámara"</h2>
                        <div class="popup__details">
                            <p class="popup__length">Con Esteve Rovira</p>
                        </div>
                        <h3 class="popup__subtitle u-margin-top-normal">Descripción</h3>
                        <p class="popup__description">Haremos un recorrido teórico sobre las posibilidades de la cámara
                            y el lenguaje audiovisual en relación con el actor. Analizamos este lenguaje á través del
                            estudio de secuencias de varias series y o películas.<br>
                            - Los Planos y su valor dramático, del plano general al primer plano, cómo y porque...<br>
                            - La cámara y sus movimientos, el travelling en todas sus vertientes, el cómo y el porqué.<br>
                            - La relación entre la cámara y sus posibilidades y el actor.<br>
                            - El binomio director-actor el diálogo es la mejor base.<br>
                            - La cámara como herramienta narradora de emociones...<br>
                            - El texto y el subtexto...<br>
                            - El monólogo.<br>
                            - El diálogo.<br>
                            - La escucha y la generosidad entre actores, la acción-reacción, el ritmo...<br>
                            Currículum breve de Esteve Rovira Isla:<br>
                            - Club Super3 (infantil)<br>
                            - Rodasons (Musical)<br>
                            -Sardana (Musical)<br>
                            -Teatre al 33 (“La festa del Blat”- “Mediterrania”)<br>
                            - Nissaga de Poder (Serie)<br>
                            - Laberint d’Ombres (Serie)<br>
                            - El Cor de la Ciutat (Serie)<br>
                            - Serrallonga la llegenda del bandoler (Mini-Serie)<br>
                            - La Riera (Serie)<br>
                            - Com si fos ahir (Serie)<br></p>
                    </div>
                </div>
                <article class="event__empty"></article>
            </div>
        </div>
    </main>
    <%- include('../templates/footer'); %>
    <script src="../js/programacion.bundle.js" inline></script>
</body>

</html>