<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130954281-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-130954281-1');
    </script>
    <%- include('../templates/meta'); %>
    <title>Sala Ón - Programación</title>
    <link rel="canonical" href="http://www.salaonbcn.com/programacion">
    <meta name="description" content="Toda la programación de nuestra sala. Aquí encontrarás nuestros eventos, obras, cursos, y mucho más.">
    <link rel="stylesheet" href="../css/programacion.css" inline>
</head>

<body>
    <%- include('../templates/navigation'); %>
    <header class="header">
        <h1 class="header__title">Programación</h1>
    </header>
    <main class="main u-footer-margin">
        <div class="events">
            <div class="event-group">
                <article class="event">
                    <h2 class="event__type">Curso</h2>
                    <div class="event__body">
                        <a href="#candela" class="event__link event__sinopsis">Descripción</a>
                        <div class="event__poster">
                            <img class="event__img" src="/img/candela.jpg" alt="Curso de Interpretación">
                        </div>

                        <a href="mailto:cursocanton@gmail.com?Subject=Hola%20Candela%2C%20estoy%20interesadx%20en%20tu%20curso"
                            class="event__link" target="_blank">Contactar</a>
                        <p class="event__date">25 - 01 - 2019</p>
                    </div>
                </article>
                <div class="popup" id="candela">
                    <div class="popup__nav">
                        <a href="#" class="popup__close popup__link" data-back="candela">Volver</a>
                        <a href="mailto:cursocanton@gmail.com?Subject=Hola%20Candela%2C%20estoy%20interesadx%20en%20tu%20curso"
                            class="popup__buy popup__link" target="_blank">Contactar</a>
                    </div>
                    <div class="popup__content">
                        <h2 class="popup__title u-margin-bottom-small">"Curso de Interpretación"</h2>
                        <div class="popup__details">
                            <p class="popup__length">Con Candela Antón, actriz de Merlí</p>
                            <p class="popup__length">Lunes y Miércoles 18:00hs a 20:00hs | Sábados 11:00hs a 13:00hs</p>
                        </div>
                        <h3 class="popup__subtitle u-margin-top-normal">Descripción</h3>
                        <p class="popup__description">Se trata de un curso enfocado a aquellos que, por pasión o por
                            ánimo de dedicarse a la profesión, quieran adquirir conocimientos sobre el trabajo y la
                            vida del actor.<br>
                            El objetivo concreto del curso es que los alumnos desarrollen un pensamiento crítico
                            respecto a su trabajo, y que adquieran las herramientas necesarias para hacer frente a
                            todos los retos que puedan encontrarse en el ejercicio del arte y la profesión actorales.<br>
                            Cada clase estará enfocada hacia un tema concreto, siendo estos: Emoción, Expresión y
                            Creación y Dramaturgia. Cada una de las 4 clases de cada mes estará enfocada a uno de estos
                            4 temas.<br>
                            Los movimientos interiores, los movimientos del interior al exterior, y la fuerza creativa.<br>
                            “La analogía del actor como músico con su instrumento” Los alumnos deben conocer su
                            instrumento, aprender a afinarlo para extraer de él las notas necesarias para interpretar
                            cualquier pieza, ser capaces de improvisar y crear in situ mediante las herramientas de que
                            disponen, para que, llegado el momento, puedan comprender el lenguaje musical y la forma de
                            las piezas que se les presenten.”<br>
                            -Emoción: En esta clase trabajaremos los procesos internos y emocionales de cada uno, a
                            través de ejercicios de introspección y descubrimiento. Experimentaremos los límites de
                            nuestras emociones particulares.<br>
                            -Expresión: En esta segunda sesión, trabajaremos las diversas formas de expresar las
                            emociones sentidas, la expresión corporal, y la plasmación de todas las ideas que podamos
                            concebir, a partir de ejercicios de conocimiento del propio cuerpo, de los mecanismos de la
                            expresión y de identificación de las expresiones ajenas.<br>
                            -Creación: Aquí, desarrollaremos la capacidad de improvisar a través de la imaginación y de
                            las herramientas adquiridas en Emoción y Expresión.<br>
                            -Dramaturgia: Se harán dos muestras del trabajo hecho durante el curso, ambas en un teatro
                            profesional (aún por determinar), una entre finales de enero y principios de febrero, y
                            otra, de creación propia de los alumnos a final de curso entre finales de junio y
                            principios de julio.<br>
                            Durante todo el curso habrá diversas masterclass de profesionales del sector teatral, aún
                            por cerrar debido a disponibilidad de los ponientes.<br></p>
                    </div>
                </div>
                <article class="event">
                    <h2 class="event__type">Micro Teatro</h2>
                    <div class="event__body">
                        <a href="#lacoach" class="event__link event__sinopsis">Descripción</a>
                        <div class="event__poster">
                            <img class="event__img" src="/img/lacoach.jpeg" alt="La Coach">
                            <!-- <h2 class="event__title">La Coach</h2> -->
                        </div>
                        <a href="https://entradium.com/es/events/la-coach-la-primera-serie-en-vivo" class="event__link" target="_blank">Comprar</a>
                        <p class="event__date">13, 18 y 25 - 04 - 2019 (20:30)</p>
                    </div>
                </article>
                <div class="popup" id="lacoach">
                    <div class="popup__nav">
                        <a href="#" class="popup__close popup__link" data-back="lacoach">Volver</a>
                        <a href="https://entradium.com/es/events/la-coach-la-primera-serie-en-vivo" class="popup__buy popup__link" target="_blank">Comprar</a>
                    </div>
                    <div class="popup__content">
                        <h2 class="popup__title u-margin-bottom-small">"La Coach"</h2>
                        <div class="popup__details">
                            <p class="popup__length">Escrita y dirigida por: Elia Tahuenca | Con: Rut Blasco, Lara Vacas y Laura Millaruelo</p>
                                <p class="popup__length">Sábado 13, y Jueves 18 y 25 de Abril a las 20:30hs</p>
                        </div>
                        <h3 class="popup__subtitle u-margin-top-normal">Descripción</h3>
                        <p class="popup__description">Desde Laberinto Producciones y la Compañía LetrasConVoz presentamos la primera SERIE EN VIVO que se hace en Barcelona: La Coach.<br>
                            Se trata de un nuevo concepto teatral en el que los espectadores podrán disfrutar de la primera serie que se representa en vivo y en directo. Una mezcla que une el teatro con el universo de las series para conseguir “enganchar” a los más seriéfilos al mundo del teatro.<br>
                            Cada temporada se compone de 4 capítulos de aproximadamente 30 minutos y, en total, “La Coach” está formada por 3 temporadas. Un total de 12 episodios durante los que conoceremos mejor a los personajes y terminaremos viviendo sus vidas como si fueran las nuestras.<br>
                            “La Coach” nos presenta a Amelia, una chica que sufre una crisis personal y decide ir a ver a una coach. Pero en cuanto llegue a la consulta conocerá a una persona que es muy, pero que MUY, peculiar…<br>
                            Una serie protagonizada por tres mujeres que relatarán los problemas cotidianos a los que, muchos de nosotros, nos enfrentamos a diario.<br>
                            Humor, risas y sorpresas es lo que encontrarás en “La Coach”<br></p>
                    </div>
                </div>
                <article class="event__empty"></article>
            </div>
        </div>
    </main>
    <%- include('../templates/footer'); %>
    <script src="../js/programacion.bundle.js" inline></script>
</body>

</html>