<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sala On - ¿Quiénes somos?</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
    <link rel="manifest" href="../site.webmanifest">
    <link rel="mask-icon" href="../img/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../css/somos.css" inline>
</head>



<body>
    <%- include('../templates/navigation'); %>
    <main class="main u-content-margin">
        <div class="about">
            <div class="row">
                <div class="col-9">
                    <h1 class="about__title u-margin-bottom-normal u-margin-top-small">¿Quiénes somos?</h1>
                    <section class="about__text">
                        <p class="about__esence">
                            ¿En esencia?
                            Un sitio para crear, estar, compartir y disfrutar de la
                            vida; representando un hogar para todos los artistas y una oportunidad para acercar el arte al
                            barrio.
                        </p>
                        <p>Somos una Asociación Cultural en la que se desarrollan proyectos vinculados con diversas
                            disciplinas artísticas. Nacimos desde la necesidad de un amplio
                            circulo de artistas en la ciudad de Barcelona que requerían un espacio
                            para ensayar, crear, y mostrar sus trabajos artísticos.</p>
                        <p>Nuestra sala es un espacio abierto para todos los artistas. Aquí da igual si son
                            conocidos o desconocidos. Nos mueve la necesidad de mostrar al público
                            nuevos lenguajes escénicos a través del arte en cada una de sus formas.</p>
                        <p>El espacio está comprendido por tres fases: la primera y más pequeña, es ideal para
                            satisfacer la inspiración de cualquier fotógrafo; la segunda, un poco más amplía,
                            es perfecta para exponer pinturas; y la última, y no menos importante, es una sala
                            multidisciplinaria
                            de tarima modular y techos altos, que planea ser el hogar de incontables obras,
                            monólogos, performances, y mucho más.</p>
                        <p>Nuestra intención es desarrollar un programa de
                            cursos y talleres, además de incontables espectáculos semanales y festivales artísticos
                            que ocurrirán en determinados momentos del año.</p>
                        <p class="about__quote">"En Sala Ón queremos hacer arte, sin importar de dónde venga".</p>
                        <p>¡Nos encantaría escucharte y que formes
                            parte de nuestra aventura!</p>
                    </section>
                </div>
            </div>
            <section class="about__creators u-padding-top-normal">
                <h2 class="about__creators-title u-margin-bottom-normal">Creadores</h2>
                <div class="row">
                    <div class="col-4">
                        <div class="about__creator" id="robert">
                            <a class="about__creator-link" href="https://www.instagram.com/robertchacon">
                                <img class="about__creator-image" src="../img/robert.jpeg" alt="Robert Chacón"></a>
                            <p class="about__creator-name">Robert Chacón</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="about__creator">
                            <a class="about__creator-link" href="https://www.instagram.com/mirenjalon">
                                <img class="about__creator-image" src="../img/miren_cut.jpeg" alt="Miren Jalón">
                            </a>
                            <p class="about__creator-name">Miren Jalón</p>
                        </div>
                    </div>
                    <div class="col-4">
                            <div class="about__creator">
                                    <a class="about__creator-link" href="https://www.instagram.com/aileenrceleste">
                                        <img class="about__creator-image" src="../img/aileen.jpeg" alt="Aileen Celeste">
                                    </a>
                                    <p class="about__creator-name">Aileen Celeste</p>
                                </div>
                    </div>
                </div>
            </section>
        </div>
        </div>
        </div>
    </main>
    <%- include('../templates/footer'); %>
    <script src="/js/"></script>
</body>

</html>