.link {
    position: relative;
    display: inline-block;
    color: transparent;
    font-size: 1rem;
    text-align: center;
    background-color: black;
    text-decoration: none;
    border: 1px solid white;
    border-radius: .2rem;
    letter-spacing: .5rem;
    overflow: hidden;
    // To increase height, increase padding-top
    // of this element and its pseudo-elements
    padding: 1rem 3rem;

    @media screen and (max-width: 900px) {
      // padding: 2rem 3rem;
      padding: 1rem 1.3rem;
    }

    &--contact {
      &::after {
        content: "Ven a Sala Ón";
      }
    }

    &--event {
      border-radius: 0 !important;

      &::after {
        content: "Comprar";
      }
    }

    &::after {
      color: white;
      position: absolute;
      width: 101%;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-52.7%);
      text-align: center;
      transition: all .2s;
      animation: reverseChangeName ease-out;
      animation-duration: .2s;
      padding: 1.1rem 0;

      @media screen and (max-width: 900px) {
        // padding: 2.1rem 0;
        padding: 1.5rem 0;
      }
    }
    
    &:link, &:visited {
     text-transform: uppercase; 
    }
    
    &:hover {
      &::after {
        animation: changeName forwards ease-out;
        animation-duration: .2s;
      }
    }

    @media screen and (max-width: 959px) {

        &::after, &:hover::after {
            -webkit-animation: none;
            -moz-animation: none;
            -o-animation: none;
            animation: none;
        }
    }
  }