// LAYOUT VARIABLES

$header-height: 7rem;
$navigation-height: 4.5rem;
$footer-height: 3rem;

// CONTENT VARIABLES

$navigation-margin: $navigation-height;
$navigation-plus-footer: $navigation-height + $footer-height;
$navigation-plus-header-plus-footer: $navigation-height + $header-height + $footer-height;
$fixed-content-size: calc(100vh - #{$navigation-plus-footer});
$fixed-content-size-plus-header: calc(100vh - #{$navigation-plus-header-plus-footer});

// GRID VARIABLES

$grid-width: 114rem;
$first-row-margin: $navigation-margin;
$gutter-vertical: 1rem;
$gutter-horizontal: 6rem;
$margin-left: 1.6%;